body {background-color:#703550;}
@media screen and (min-width:992px) {
  body {background-color:#000000;}
}

h1, h2 {font-family:Montserrat;text-align:center;}

input[disabled] { filter:brightness(80%);}
div.separator {border-left:1px solid #d9d9d9;width:1px;height:200px;margin:auto;}
div.dropdown {padding-top:4px;padding-bottom:4px;opacity:1;}
@media screen and (min-width:768px){
    ul.columns3 {-moz-column-count:3;-webkit-column-count:3;column-count:3;width:640px;left:-228px;}
    ul.columns2 {-moz-column-count:2;-webkit-column-count:2;column-count:2;width:427px;}
}

h1#titulo {width:100%;background-color:#f19f4d;color:#4484ce;margin:0 auto;padding:20px 0 10px 0;background-image:url("../images/logo.png");background-repeat:no-repeat;background-position:left center;}
a#credits {background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:Roboto;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px;}
a#credits {position:fixed;top:100%;left:0;margin-top:-27px;opacity:0.4;}

div#background {position:fixed;bottom:0;left:0;min-width:100%;min-height:100%;z-index:-10;}
@media screen and (min-width:992px) {
  div#background {background-image:url("../images/fondo.jpeg");width:1400px;height:933px;}
}

div#panel-buscador {width:100%;height:100%;margin:10px auto 14px auto;padding:0;background-color:rgba(68,132,206,0.8);color:#d9d9d9;}
div#buscador {width:100%;margin:0 auto;padding:0;background-color:rgba(68,132,206,0.8);color:#d9d9d9;}
@media screen and (min-width:992px) {
  div#contenido-index div#panel-buscador {top:20%;height:auto;position:relative;}
}
div#buscador label {padding:12px;font-weight:bold;}
div#buscador .btn-default, div#buscador .btn-default:focus {background-color:#4484ce;color:#d9d9d9;border-color:#d9d9d9;}
div#buscador div.open .btn-default {color:#f9cf00;border-color:#f9cf00;}
div#buscador .row, div#buscador h1 {margin:0;padding:14px;}

div#resultado {opacity:0.95;width:1200px;margin:0 auto 80px auto;padding-bottom:40px;}
div#resultado table#stock tr.cambio-top td, div#resultado table#stock tr.first-child td  {border-top:1px solid #f19f4d;padding-top:18px;}
div#resultado table#stock tr.cambio-bottom td {padding-bottom:18px;}
div#resultado table#stock tr.last-child td {border-bottom:1px solid #f19f4d;}
div#resultado table#stock a {text-decoration:none;color:#000;cursor:pointer;}
div#resultado table#stock a:hover {text-decoration:underline;color:#f19f4d;}
div#resultado table#stock thead.affix {position:fixed;top:70px;z-index:2;background-color:#fff;}
div#resultado table#stock th, table#stock td {text-align:center;}
div#resultado table#stock td {white-space:nowrap;}

div#filtros.affix {position:fixed;top:0;left:0;background-color:rgba(68,132,206,1);color:#d9d9d9;width:100%;z-index:2;}

.light {color:#f9cf00 !important;border-color:#f9cf00 !important}
.tangerine {color:#f19f4d  !important;border-color:#f19f4d !important;}
.aluminium {background-color:#d9d9d9;}
.cerulean {background-color:#4484ce;}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'),
       local('Roboto-Regular'),
       url('../styles/fonts/Roboto.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'),
         local('Montserrat-Regular'),
         url('../styles/fonts/Montserrat-Regular.woff2') format('woff2'),
         url('../styles/fonts/Montserrat-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
body {font-family:Roboto}
